@import url("./normalize.css");

nav {
    background-color: #FD739C;
  }

header {
    margin: 0;
    background-color: #FD739C;
    padding: 50px 0 50px 0; 
  }

#header-text {
    color: #ffffff;
  }

h1, h2 {
    font-family: "Helvetica", "Arial", sans-serif;
}
p {
    font-size: 22px;
    line-height: 34px;
    font-family: "Helvetica", "Arial", sans-serif;
}

section {
    padding: 50px 0 50px 0;
}